.hero{
    max-height: 150vh;
    min-height: 90vh;
    background-image: url('../../assets/image/bc-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_title{
    margin-top:7rem;
}

.hero_title h1{
    color: white;
    font-size: clamp(5rem,5vw,2rem);
    
    font-weight: 700;
    text-align: center;
}

.hero_title h1 span{
    color:var(--secondary-color);
}

.hero_title p{
    max-width: 54rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.hero_buttons{
    margin-top: 2rem;
    
    text-align: center;
}
.appointmrnt_btn{
    background: var(--primary-color);
    font-weight: 500;
    border: none;
    color: black;
    transition: .4s;
    margin-right: 2rem;
}
.contact_btn{
    background: none;
    font-weight: 500;
    border: none;
    transition: .4s;

}

.appointmrnt_btn:hover{
    background: var(--secondary-color) !important;
}
.contact_btn:hover{
    background: var(--secondary-color) !important;
    border: none;
}