.hero{
    height: 90vh;
    background-image: url('../../assets/image/bc-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_title{
    margin-top:5rem;
}

.hero_title h1{
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

.hero_title h1 span{
    color:var(--secondary-color);
}

.hero_title p{
    color: gray;
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.hero_buttons button{
    margin-top: 2rem;
    margin-left: 3rem;
    
}
.appointmrnt_btn{
    background: var(--primary-color);
    font-weight: 500;
    border: none;
    color: black;
    transition: .4s;
}
.contact_btn{
    background: none;
    font-weight: 500;
    border: 2px solid white;
    transition: .4s;

}

.appointmrnt_btn:hover{
    background: var(--secondary-color) !important;
}
.contact_btn:hover{
    background: var(--secondary-color) !important;
    border:2px solid black;
}