:root {
  --primary-color: #2ec4b6;
  --secondary-color: #ff9a1c ;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}